.p-container__header{
    @include displayFlex(center, center, column);
}

.p-image-logo{
    width: 98px;
    height: 98px;
}

.p-container__social{
    margin-top: 40px;
    @include displayFlex(center, center, column);
    width: 100%;
}

.p-social{
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 15px;
    background: $pure-white;

    @media(max-width: 700px){
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 568px){
        grid-template-columns: 1fr
    }
    
}

.p-social__item{
    padding: 40px 80px;
    cursor: pointer;
    text-decoration: none;
    @include displayFlex(center, center, column);
    transition: 300ms ease-in-out;

    &:hover{
        background: $black;

        .p-svg__fill{
            fill: $pure-white;
        }

        .p-svg__fill-reverse{
            fill: $black;
        }

        .p-social__title{
            color: $white;
        }

    }

    @media(max-width: 1200px){
        padding: 30px 40px;
    }

    @media(max-width: 568px){
        padding: 30px;
    }
}

.p-social__behance,
.p-social__resume,
.p-social__github{
    border-right: 1px solid $white;

    @media(max-width: 568px){
        border-right: none;
        border-bottom: 1px solid $white;
    }
}

.p-social__behance{
    border-radius: 15px 0px 0px 15px;

    @media(max-width: 700px){
        border-bottom: 1px solid $white;
        border-radius: 15px 0px 0px 0px;
    }

    @media(max-width: 568px){
        border-radius: 15px 15px 0px 0px;
    }
}

.p-social__github{
    @media(max-width: 700px){
        border-bottom: 1px solid $white;
        border-right: none;
        border-radius: 0px 15px 0px 0px;
    }

    @media(max-width: 568px){
        border-radius: 0px;
    }
}

.p-social__resume{
    @media(max-width: 700px){
        border-radius: 0px 0px 0px 15px;
    }

    @media(max-width: 568px){
        border-radius: 0px;
    }
}

.p-social__linkedin{
    border-radius: 0px 15px 15px 0px;

    @media(max-width: 700px){
        border-radius: 0px 0px 15px 0px;
    }

    @media(max-width: 568px){
        border-radius: 0px 0px 15px 15px;
    }
}


.pt-container__work{
    margin-top: 60px;
}

.pt-work__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;

    @media(max-width: 1200px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 678px){
        grid-template-columns: 1fr;
    }
}

.pt-work__card{
    box-shadow: $box-shadow;
    background: $pure-white;
    border-radius: 5px;
    text-decoration: none;
}

.pt-work__image-container{
    height: 215px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.pt-work__image-fill{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6));
    border-radius: 5px 5px 0px 0px;
}

.pt-work__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.pt-work__card--role{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pt-work__role-left{
    border-right: 1px solid $white;
}

.pt-container__footer{
    width: 100%;
    background: $primary;
}

.pt-footer{
    margin-top: 0;
    margin-bottom: 0;
    @include displayFlex(space-between, center, row);

    @media(max-width: 500px){
        flex-direction: column;
    }
}

.p-footer__email-wrapper{
    @include displayFlex(flex-end, center, row);

    @media(max-width: 500px){
        order: 1;
    }
}