.header{
    padding: 30px 0px;
    @include displayFlex(space-between, center, row);
    @media(max-width: 468px){
        flex-direction: column;
        justify-content: flex-start;
        gap: 25px;
    }
}

.name-logo{
    @include displayFlex(center, center, row);
    a{
        text-decoration: none;
        color: $secondary;
        letter-spacing: 1px;
        @include fontStyle($font-family, 20px, $semi-bold);
    }
    span{
        color: $primary;
    }

    @media(max-width: 468px){
        width: 100%;
        text-align: left;
        justify-content: flex-start;
    }
}

.navigation{
    @include displayFlex(space-between, center, row);
    gap: 50px;
    list-style: none;
}

.navigation__item{
    a{
        text-decoration: none;
        @include fontStyle($font-family, 16px, $medium);
        letter-spacing: 1px;
        color: $secondary;
    }
}

.hero{
    @include displayFlex(space-between, flex-start, row);
    height: 80dvh;
    padding-top: 10%;
    position: relative;
}

.hero-right{
    @include displayFlex(flex-end, center, row);
}

.social{
    @include displayFlex(flex-end, center, row);
    gap: 10px;
}

.hero-left{
    @include displayFlex(center, flex-start, column);
}

.hero-name{
    @include fontStyle($font-family, 24px, $regular);
    color: $primary;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.hero-profession{
    @include fontStyle($font-family, 42px, $medium);
    color: $secondary;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.button__resume{
    padding: 21px 37px;
    border: 1px solid $secondary;
    border-radius: 5px;
    text-decoration: none;
    color: $secondary;
    display: inline-block;
    @include fontStyle($font-family, 16px, $regular);
    transition: ease-in-out 300ms;

    &:hover{
        background: $secondary;
        color: $white;
    }

    @media(max-width: 468px){
        @include displayFlex(center, center, column);
        width: 100%;
    }
}

.work{
    margin-bottom: 100px;
    padding: 50px 0;
    background: #f2f2f2;
}

.title{
    color: $primary;
    @include fontStyle($font-family, 24px, $semi-bold);
    margin-bottom: 35px;
    letter-spacing: 0.5px;
}

.work__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    @media(max-width: 768px){
        gap: 30px
    }

    @media(max-width: 568px){
        grid-template-columns: 1fr;
    }
}

.work__desc{
    display: none;
}

.work-item{
    position: relative;
    background: $pure-white;
    padding: 30px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    transition: ease-in-out 300ms;

    img{
        width: 100%;
        object-fit: cover;
    }

    &:hover .work__desc{
        @include displayFlex(center, center, column);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(79, 79, 79, 0.7);
        border-radius: 5px;

        color: $pure-white;
        text-decoration: none;
        gap: 20px;
        @include fontStyle($font-family, 20px, $semi-bold);
    }
}

.work__name{
    color: $pure-white;
    @include fontStyle($font-family, 24px, $semi-bold);
}

.work__role{
    max-width: 70%;
    text-align: center;
}



.skills{
    margin-bottom: 100px;
}

.skill__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    gap: 30px;

    @media(max-width: 768px){
        grid-template-columns: repeat(3, 1fr);
    }

    @media(max-width: 568px){
        grid-template-columns: repeat(2, 1fr);
    }
}

.skill__item{
    width: 100%;
    background: $pure-white;
    padding: 30px 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    @include displayFlex(center, center, column);
    gap: 20px;
    color: $secondary;
    letter-spacing: 0.5px;
    @include fontStyle($font-family, 16px, $semi-bold);
}

.about{
    position: relative;
}

.footer__wrapper{
    @include displayFlex(flex-start, center, row);
    gap: 30px;

    @media(max-width: 768px){
        flex-direction: column;
        justify-content: flex-start;
    }
}

.about__img-wrapper{
    width: 100%;

    @media(max-width: 768px){
        @include displayFlex(flex-start, center, row);
    }
}

.footer__name{
    color: $primary;
    @include fontStyle($font-family, 24px, $medium);
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

.footer__about{
    color: $black;
    @include fontStyle($font-family, 16px, $light);
    margin-bottom: 40px;
    line-height: 26px;
    letter-spacing: 0.5px;
}

.copy{
    color: $primary;
    letter-spacing: 0.5px;
    @include fontStyle($font-family, 14px, $regular);
}

.footer__copy{
    padding: 40px 0px;
    @include displayFlex(space-between, center, row);

    @media(max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

.footer--email{
    @include displayFlex(flex-start, center, row);
    gap: 7px;
    color: $secondary;
    @include fontStyle($font-family, 14px, $regular);
    
}

.footer__bg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -10;
}