// Color's
$primary: #3D4F8B;
$black: #4F4F4F;
$white: #F2F2F2;
$pure-white: #FFFFFF;

// Font Weights
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;

// Font Family
$font-family: 'Montserrat', sans-serif;

// Shadow
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
