*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import "01-helper/helper";
@import "02-base/base";
@import "04-layout/index.scss";
@import "04-layout/esg.scss";
@import "04-layout/design-system.scss";
@import "04-layout/fastjob-app.scss";